.countries-filter__heading {
  color: @basic-blue-dark;
  text-transform: uppercase;
}

.countries-filter__hide-button {
  background-color: @basic-grey-light;
  font-size: 16px;
  text-transform: uppercase;
  color: @basic-blue-dark;
}
