.instructions__item {
  &--1 {
    background-color: @special-orange;
  }

  &--2 {
    background-color: @special-orange-light;
  }

  &--3 {
    background-color: @special-yellow-dark;
  }

  &--4 {
    background-color: @basic-yellow;
  }
}
