.main-nav {
  display: none;
  background-color: @basic-white;
  color: @basic-blue-dark;
  min-height: 495px;
  @media (min-width: @desktop-width) {
    display: initial;
    background-color: initial;
    color: @basic-white;
    min-height: initial;
  }
}

.page-header__main-nav-toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.page-header__main-nav-toggle-icon {
  &--open {
    width: 25px;
    height: 11px;

    & path {
      fill: @basic-white;
    }
  }

  &--close {
    width: 18px;
    height: 19px;
    display: none;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  min-height: 206px;
  .mobile-wrapper();
  @media (min-width: @tablet-width) {
    .tablet-wrapper();
    min-height: 197px;
  }
  @media (min-width: @desktop-width) {
    flex-direction: initial;
    width: 975px;
    min-height: 52px;
    justify-content: space-between;
    // .desktop-wrapper();
  }
}

.main-nav__menu-list {
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  @media (min-width: @tablet-width) {
    margin-left: 0;
    text-align: left;
    font-size: 60px;
    line-height: 71px;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 105px;
    flex-grow: 1;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
  }
}

.menu-list__item {
  @media (min-width: @desktop-width) {
    margin-right: 34px;

    & a:hover {
      color: @basic-yellow;
    }

    & a:active {
      opacity: 0.3;
    }
  }
}

.main-nav__user-list {
  .outline();
  margin: 0 auto;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  color: @basic-blue;
  @media (min-width: @tablet-width) {
    display: none;
  }
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    align-items: center;
  }
}

.main-nav__contacts {
  display: flex;
  flex-direction: column;
  .mobile-wrapper();
  min-height: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  @media (min-width: @tablet-width) {
    .tablet-wrapper();
    font-size: 28px;
    line-height: 28px;
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__social {
  .mobile-wrapper();
  @media (min-width: @tablet-width) {
    .tablet-wrapper();
  }
  @media (min-width: @desktop-width) {
    display: none;
  }
}
