.page-header {
  background-color: @basic-blue;
  text-transform: uppercase;

  &--index {
    background-image: url("../img/globe-back-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 569px;
  }
}
