.travelers-filter__form {
  background-color: @basic-yellow;
}

.travelers-filter__text {
  font-size: 22px;
  font-weight: 700;
  color: @basic-blue-medium;
}

.travelers-filter__submit-button {
  background-color: @basic-white;
  text-transform: uppercase;
}
