.country-select__alphabet-item {
  font-size: 14px;
  font-weight: 500;
  color: @basic-blue-medium;
  text-transform: uppercase;

  &--current {
    background-color: @basic-blue-light;
  }
}

.country-select__countries-list {
  font-size: 16px;
  font-weight: 400;
  color: @special-grey;
  text-transform: none;
}
