.page-main__add-plan {
  background-color: @special-blue-semilight;
}

.add-plan__heading {
  font-size: 24px;
  font-weight: uppercase;
  color: @basic-blue-medium;
}

.add-plan__step {
  background-color: @basic-white;
}

.step__fieldset {
  border: none;
}

.step__heading {
  font-size: 20px;
  font-weight: 700;
  color: @basic-blue-medium;
}

.step__description {
  font-size: 16px;
  font-weight: 400;
  color: @special-grey;
}

.step__input-heading {
  font-size: 16px;
  font-weight: 500;
  color: @basic-blue-medium;
  text-transform: uppercase;
}

.step__input-units {
  font-size: 16px;
  font-weight: 500;
  color: @basic-blue-medium;
  opacity: 0.3;
  text-transform: uppercase;
}

.step__input-number {
  font-size: 15px;
  font-weight: 500;
  color: @basic-blue-medium;
}

.step__input-label {
  font-size: 15px;
  font-weight: 400;
  color: @basic-blue-medium;
}

.calendar__heading {
  font-size: 20px;
  font-weight: 700;
  color: @basic-blue-medium;
}

.week-days-list__item {
  font-size: 14px;
  font-weight: 400;
  color: @special-grey;
  text-transform: uppercase;

  &--weekend {
    color: @special-red-light;
  }
}

.month-list__item {
  font-size: 14px;
  font-weight: 400;
  color: @special-grey;
  opacity: 0.3;
  text-transform: uppercase;

  &--selected {
    background-color: @basic-blue-medium;
    font-weight: 500;
    color: @basic-white;
    opacity: 1;

    &-first {
      border: 2px solid @special-red-light;
    }
  }

  &--after-selected {
    background-color: @basic-blue-light;
    font-weight: 500;
    color: @basic-blue-medium;
    opacity: 1;
  }
}

.step__next-button {
  font-size: 17px;
  text-transform: uppercase;
}

.step__country-select {
  font-size: 14px;
  font-weight: 500;
  color: @basic-blue-medium;
  text-transform: uppercase;
}

.step__add-country-btn {
  background-color: @basic-blue-light;
  font-size: 14px;
  font-weight: 500;
  color: @basic-blue-medium;
  text-transform: uppercase;
  border: none;
}

.country-select__alphabet-item {
  font-size: 14px;
  font-weight: 500;
  color: @basic-blue-medium;
  text-transform: uppercase;

  &--current {
    background-color: @basic-blue-light;
  }
}

.country-select__countries-list {
  font-size: 16px;
  font-weight: 400;
  color: @special-grey;
  text-transform: none;
}

.step__prev-button {
  font-size: 17px;
  font-weight: 700;
  color: @basic-blue-medium;
  text-transform: uppercase;
}

.step__input-heading {
  font-size: 18px;
  font-weight: 500;
  color: @basic-blue-medium;
  text-transform: none;
}

.step__input-textarea {
  font-size: 16px;
  font-weight: 400;
  color: @special-grey;
  resize: none;

  &::placeholder {
    opacity: 0.3;
  }
}

.add-plan__submit-button {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}
